doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
		script(type="text/javascript" src="app.js")
		script(type="text/javascript" src="controllers/global.js")
		script(type="text/javascript" src="controllers/global.js")
	body(ng-app="performance-js")
		block content
